.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 16px;
}

.navbar {
  background-color:lightslategrey;
  font-family: 'Times New Roman', Times, serif ;
}

.table {
  width: auto;
}

.container {
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#scatter {
  text-align: center;
}

.title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.nav-item>a:hover {
  background-color: white;
}

.container>a:hover {
  background-color: white;
}